/* MMM-MensaMenu.css */

.menu-wrapper {
    width: 70vw; /* Set the module width to 60% of the viewport width */
  height: auto; /* Set the height to auto to maintain aspect ratio */
  display: flex; /* Use flexbox for the layout */
  flex-direction: column; /* Set the flex direction to column for vertical stacking */
  margin-right: 0; /* Set the right margin to 0 to align the module to the left */
  }
  
  .menu-title {
    font-size: 1.5em; /* Increase the font size for the title */
    margin-bottom: 10px; /* Add margin at the bottom of the title */
  }
  
  .menu-table {
    width: 100%; /* Set the table width to 100% */
    border-collapse: collapse;
    border: 2px solid #007466; /* Add a border to the table */
  }
  
  .menu-table th, .menu-table td {
    border: 1px solid #007466; /* Add borders to the table cells */
    padding: 8px; /* Add padding to the table cells */
    text-align: left; /* Align text to the left */
  }
  
  .menu-table th {
    background-color: #f1f8ff; /* Add a background color to the header cells */
    font-size: 1.2em; /* Increase the font size for the header cells */
  }
  
  .menu-table td {
    font-size: 1.1em; /* Increase the font size for the menu items */
  }
  
